#MAC FILES
*.DS_Store

#LATEX FILES
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
systematicMapping.pdf
systematicMapping.bib.bak
systematicMapping.tex.bak
systematicMappingFev2015CorrecoesMartin.pdf
SystematicMapping/submitted/systematicMapping.txt
SystematicMapping/submitted/systematicMappingAnonymous.bib.bak
SystematicMapping/submitted/systematicMappingAnonymous.pdf
SystematicMapping/submitted/systematicMappingAnonymous.tex.bak
